*{
    margin: 0%;
    padding: 0%;
    font-family: 'Assistant';
    scroll-behavior: smooth;
}
body{ height: 900px;}
a, button{
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
/*
    header
*/
header{
    color: #F1F6F9;
    background-color: #0050D5;
}
header nav{
    transition-duration: 170ms;
    background-color:  #0050D5;
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    padding: 10px 0px;
    justify-content: space-between;
    align-items: center;
}
header .top{
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
}
header .top button{
    display: none;
}
header nav a{
    font-size: 26px;
    font-weight: 600;
    color: #F1F6F9;
    align-items: center;
    display: flex;
}
header nav #options{
    display: flex;
    align-items: center;
}
header nav #options .option{
    font-size: 16px;
    padding: 2px 15px;
}
header nav #options .option p{
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition-duration: 150ms;
}
header nav #options .option p:hover{
    border-bottom: 2px solid #F1F6F9;
}
header .face{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
header .face div{
    display: flex;
    justify-content: center;
    width: 50%;
}
header .face #title{
    padding: 120px 0px;
    align-items: center;
}
header .face #title h2{
    line-height: 40px;
    font-size: 315%;
}
header .face #title h1{ font-size: 395%;}
header .face #doct{
    display: flex;
    align-items: flex-end;
}
header .face #doct img{ width: 75%;}
/*
    about_us
*/
#about_us{
    padding: 90px 40px;
    display: flex;
    background-color: #F1F6F9;
}
#about_us span{
    width: 70%;
    padding: 10px 0px;
}
#about_us span p{
    padding-top: 15px;
    font-size: 19px;
    font-weight: 400;
}
#about_us span div{
    display: flex;
}
#about_us span h2{
    padding: 0px 3px;
    line-height: 33px;
    border-bottom: solid 4px #0050D5;
    font-size: 34px;
}
#about_us .doctor{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about_us .doctor img{
    width: 65%;
}
/*
    Services
*/
#services{
    background-image: url('../images/service_bg.png');
}
#services .services{
    display: flex;
    justify-content: space-between;
    padding: 90px;
    background: rgb(0,80,213);
    background: linear-gradient(180deg, rgba(0,80,213,0.714912991563813) 0%, rgba(0, 82, 213, 0.884) 100%);
}
#services .services #service{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    box-shadow: 6px 7px 29px -3px #06214dc7;
    color: #F1F6F9;
    overflow: hidden;
    height: 280px;
    width: 27%;
}
#services .services #service .inside{
    transition-duration: 800ms;
    padding-top: 230px;
}
#services .services #service .inside:hover{ padding: 0px;}
#services .services #service .inside h1{
    color: #1a1a1a94;
    transform: rotate(-90deg);
    font-weight: 500;
    text-align: center;
    line-height: 0px;
    animation-name: up_down;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(0.785, 0.135, 0.15, 0.86);
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.rhinoplasty{ background-image: url('../images/rhinoplasty.webp');}
.Liposuction{ background-image: url('../images/liposuction.webp');}
.implants{ background-image: url('../images/implants.webp');}
@keyframes up_down{
    from{
        transform: rotate(-90deg) translateX(35px);
    }
    to{
        transform: rotate(-90deg) translateX(20px);

    }
  }
#services .services #service .inside h2{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 50px;
    background-color: #4377CF;
}
#services .services #service .inside p{
    font-size: 17px;
    padding: 20px 10px;
    height: 240px;
    background-color: #001b4683;
}
@media screen and (max-width: 768px){
    header nav{ display: block;}
    header nav .top button{ display: flex;}
    header nav #options{
        transition-duration: 290ms;
        display: block;
        height: 0px;
        overflow: hidden;
    }
    header nav #options .option{ 
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 0px;
    }
    header .face{
        display: block;
    }
    header .face div{
        width: 100%;
    }
    header .face #title{padding: 80px 0px;}
    header .face #title h2{ font-size: 38px;}
    header .face #title h1{ font-size: 50px;}
    header .face #doct img{ width: 95%;}
    #about_us{ display: block;}
    #about_us span{ width: 100%;}
    #about_us .doctor{
        padding-top: 40px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    #about_us .doctor img{ width: 80%;}
    #services .services{ 
        display: block;
        padding: 90px 40px;
    }
    #services .services #service{
        width: 100%;
        margin: 40px 0px;
    }
}